<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ready</title>
  <meta name="description" content="ready">
  <meta name="author" content="ready">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link href="bundle.css" rel="stylesheet">
</head>
<body>
  <section class="wrapper" id="rule">
    <div class="rule-wrap">
      <img src="images/rule.png" alt="">
      <a href="login.html">ปิดหน้าต่าง</a>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
