
<body>
  <section class="wrapper" id="rule">
    <div class="rule-wrap">
      <img src="images/rule.jpg" alt="">
      <a href="/auth" style="background-color: red; padding: 10px 50px;">ปิดหน้าต่าง</a>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
