
<body>
  <section class="wrapper" id="login">
    <div class="login-wrap">
      <img src="images/logo_ready.png" alt="">
      <h2>Ready to Match</h2>
      <p>พร้อมรุกทุกสถานการณ์</p>
      <a href="/auth/facebook">
        <img src="images/facebook-logo.png" alt="">
        Connect with Facebook
      </a>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
