
<body>
  <style>

    #share .pic-share-wrap img {
    padding: 50px;
    width: 83%;
    margin-left: -30px;
}
#share .pic-share-wrap { width: 50%; margin: 0 auto;}
#share .pic-share-wrap img { width: 83%; margin-left: -30px;}
#share .logo { width: 30%;}
.pc {
  display: block;
}
@media screen and (max-width: 600px) {
  .pc {
    display: none !important;
  }
}


  </style>

  <div id="show" style="padding-top: 40px; display: none;">
    <p>กดค้างที่ภาพเพื่อดาวน์โหลด <a href="http://bit.ly/ApptoActivity" style="test-decoration: dotted;">กดที่นี่เพื่อไปกิจกรรม</a></p>
    <div id="ios"></div>
  </div>

  <section class="wrapper n1" id="share">
    <a href="/match"><img class="logo" src="/images/logo_ready.png" alt=""></a>
    <div class="share-wrap">
      <h3>สนามรักเกิดขึ้นได้ทุกที่</h3>
      <div class="pic-share-wrap">
        <img src="{{ data.profile_url }}" alt="">
      </div>
      <div class="tag">
        <h4>คุณ<span>{{ data.fullname }}</span> มีคู่เดทแล้ว!</h4>
      </div>
      <div class="share-wrap">
        
    
        <a href="javascript:void(0);" id="downloadios" class="downloadios">ดาวน์โหลดรูปภาพแล้วไปร่วมกิจกรรมเลย!</a>
     

        {{#if android}}
        <!--<a href="javascript:void(0);" id="download" class="download">ดาวน์โหลดรูปภาพแล้วไปร่วมกิจกรรมเลย!</a>-->
        {{/if}}


         <a href="javascript:void(0);" class="share">แชร์แอปเพื่อเพิ่มสิทธิ์การถูกใจเป็นพิเศษ</a>

      </div>
    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/html2canvas.js"></script>
  <script src="/scripts/jquery.fancybox/fancybox/jquery.fancybox-1.3.4.js"></script>
  
  <script>

{{#if android}}
/*
    document.getElementById("download").addEventListener("click", function() {
      html2canvas(document.querySelector('.n1')).then(function(canvas) {
          console.log(canvas);
          saveAs(canvas.toDataURL(), 'myprofile.png');
          //window.open().document.write('<img src="' + canvas.toDataURL() + '" />');
          setTimeout(function() {
            top.location.href='http://bit.ly/ApptoActivity';
          }, 1000);
      });
  });
  */
  {{/if}}

$(function() {
  $("#downloadios").on('click', function() {
    html2canvas(document.querySelector('.n1')).then(function(canvas) {
      $("#show").show();
      $("#ios").append("<img  src='" + canvas.toDataURL() + "'/>");
      $(".n1").hide();
      
    });
    
  })
})
/*
  document.getElementById("downloadios").addEventListener("click", function() {
    html2canvas(document.querySelector('.n1')).then(function(canvas) {
      $("#show").show();
      $("#ios").append("<img  src='" + canvas.toDataURL() + "'/>");
      $(".n1").hide();
    });
    document.getElementById("downloadios").innerHTML = 'ดาวน์โหลดรูปภาพแล้วไปร่วมกิจกรรมเลย';
});
*/





function saveAs(uri, filename) {

    var link = document.createElement('a');
    

    if (typeof link.download === 'string') {

        link.href = uri;
        link.download = filename;

        //Firefox requires the link to be in the body
        document.body.appendChild(link);

        //simulate click
        link.click();

        //remove the link when done
        document.body.removeChild(link);

    } else {

        window.open(uri);

    }
}


    $(function() {
      
      
      $("a.share").on('click', function() {
        FB.ui({
          method: 'share',
          href: 'http://www.readyboottmatching.com'
        }, function(response){
          $.post('/user/doshare', function() {

          });
        });
    

      })
    })
  </script>
</body>
</html>
