<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Navbar Container -->
    <div class="container">

        <!-- Navbar Header [contains both toggle button and navbar brand] -->
        <div class="navbar-header">
            <!-- Toggle Button [handles opening navbar components on mobile screens]-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
                <i class="glyphicon glyphicon-align-center"></i>
            </button>

            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                GHB Backend
            </a>
        </div>


        <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
        <div class="collapse navbar-collapse" id="exampleNavComponents">

            <!-- Navbar Menu -->
            <ul class="nav navbar-nav">
               <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ข้อมูลผู้ใช้งาน
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin@@/users">สมาชิกทั้งหมด</a></li>
                        <li><a href="/admin@@/usersgift">สมาชิกรางวัลสุดท้าย</a></li>
                    </ul>
                </li>
                <!-- Navbar link with a dropdown menu -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">จัดการข้อมูล
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin@@/jobs">จัดการอาชีพ</a></li>
                        <li><a href="/admin@@/ages">จัดการอายุ</a></li>
                        <li><a href="/admin@@/province">จัดการจังหวัด</a></li>
                        <li><a href="/admin@@/gift">ของรางวัล</a></li>
                        <li><a href="/admin@@/quiz">คำถาม</a></li>
                         <li><a href="/admin@@/website">เว็บไซต์</a></li>
                    </ul>
                </li>

                <li class="">
                    <a href="/admin@@/logout">ออกจากระบบ</a>
                </li>
                
            </ul>

           

        </div>
    </div>
</nav>