
<body>

  <section class="wrapper" id="match">
    <img class="logo" src="/images/logo_ready.png" alt="">
    <div class="match-wrap">
      <h3>คุณมีใจที่ตรงกัน!</h3>
      <div class="pic-match-wrap">
        <div class="pic-match" style="width: 50%;">
          <img src="{{ me.profile_url }}" alt="">
        </div>
         <div class="pic-match" style="width: 50%;">
          <img src="{{ match.profile_url }}" alt="">
        </div>
        <div class="simbol">
          <img src="/images/button_like.png" alt="">
        </div>
      </div>
      <div class="tag">
        <h4>#พร้อมรุกทุกสถานการณ์</h4>
      </div>
      <div class="share-match-wrap">
        <a href="/user/shared">แชร์โปรไฟล์เพื่อค้นหาคู่เดทที่ถูกใจ</a>
        <a href="/match">ลองอีกครั้ง</a>
        <img src="/images/product.png" alt="">
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
